api/node_modules/
api/.env
bankautomat/bankautomat/build-bankautomat-Desktop-Debug/
bankautomat/build-bankautomat-Desktop-Debug/
bankautomat/bankautomat/build/
bankautomat/bankautomat/*.user
DLL_RFID/build-DLL_RFID-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/
DLL_RFID/DLL_RFID/*.user
DLL_rest/*.user
DLL_pin/*.user