api/node_modules/
api/.env
bankautomat/bankautomat/build-bankautomat-Desktop-Debug/
bankautomat/build-bankautomat-Desktop-Debug/
bankautomat/bankautomat/build/
bankautomat/bankautomat/*.user

DLL_rest/*.user